body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans';
}
input[type=text], textarea, #header {
    display: block;
    box-sizing: border-box;
}
#map {
    width: 100%;
    height: 100%;
}
.main-div {
    width: 379px;
    height: 527px;
    background:url('images/baloon-background.png') no-repeat center center;
}
.main-div input[type=text], .main-div textarea {
    width: 95%;
}
.main-div input[type=text] {
    height: 30px;
}
.main-div textarea {
    height: 130px;
}
.add-comment {
    margin: 40px 10px 10px 10px;
}
#header {
    width: 100%;
    height: 45px;
    color: white;
    position: absolute;
    top: 0;
}
#header:after {
    content: '';
    position: relative;
    top: 15px;
    float: right;
    border-top: 7px solid #FFFFFF;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.address {
    padding: 10px 20px 10px 45px;
    color: #FFFFFF;
    font-size: 8pt;
}
.close-button{
    display:block;
    position:absolute;
    top:15px;
    left:355px;
    width:14px;
    height:14px;
    cursor: pointer;
    background:url('images/close.png') no-repeat center center;
}
.comments {
    overflow: auto;
    height: 150px;
    margin: 10px;
    font-weight: 100;
}
.add-button{
    width:90px;
    height:30px;
    position: absolute;
    top: 480px;
    left: 270px;
    color: #FFFFFF;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background:url('images/add.png') no-repeat center center;
}
.add-button:active {
    box-shadow: 0 2px #4f4f4f;
    transform: translateY(2px);
}